<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Profile</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="titlebar">
        <img src="img/licet_logo.png" alt="licet_logo">
        <h1>Project-X</h1>
        <div class="logout">
        <img src="img/logout.png" class="logout" alt="">
        <a href="C:\Users\philo\Documents\GitHub\Project-X\login\index.html">LOGOUT</a>
        </div>
    </div>
</body>
</html>