
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courgette', cursive;
    font-family: 'Courgette', cursive;
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Raleway Dots', cursive;
    
}
:root{
    --bg : #000000;
    --red : #eb3b5a;
    --pur : #a879e9;
}

    
body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg);
    background-image: url(img/Fingerprint-bro.svg);
    background-repeat: repeat-x;
    background-position: center;
}
.container{
    width: 300px ;
    background-image: linear-gradient(45deg , rgba(25, 25, 25,1),rgb(34, 34, 34,1.3),rgba(25, 25, 25,1));
    padding: 25px 40px 10px 40px;
    box-shadow: 0px 0px 100px #936ec860;
    border-radius: 10px;
    z-index: 1;
}
.title{
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 600;
    color: #dd697e;
}
.container form{
    padding: 30px 0px 30px 0px;
    
}
.row{
    display: flex;
    margin : 32px 0px;
}
.form-group{
    width: 100%;
    margin: 0px 20px;
    height : 40px;
    position :relative;
    
    
}

.form-group input,.sub{
   
    display: block;
    height: 100%;
    width : 100%;
    border: none;
    outline: none;
    
}
.form-group input{
    border-bottom: 1px solid #8a8888 ;
    color: #ffffff;
    background-color: rgba(25, 25, 25,0);
}
.form-group label {
    position: absolute; 
    bottom: 15px;
    pointer-events: none;
    transition: 0.2s ease-in;
    color: #bababa;
    padding-left: 3px;
    font-size: 13px;
}
.form-group input:focus ~ label,
.form-group input:valid ~ label {
    transform: translatey(-20px);
    color: var(--pur);
    font-size: 10px;

}

span{
    
    bottom: -7px;
    
    padding-right: 10px;
}
.underline{
    width: 100%;
    height: 2px;
    background-color: var(--pur);
    position: absolute;
    bottom: 0;
    transform: scaleX(0);
    transition: 0.3s ease;

}
.form-group input:focus ~ .underline,
.form-group input:valid ~ .underline {
   transform: scale(1);

}



.sub{
    background-color: var(--red);
    color: #cecece;
    
    font-size: 13px;
    border-radius: 4px;
    font-family: sans-serif;
    font-weight: 100;

}   
.sub:hover{
    color: #ffffff;
    background-color:#e92a4d ;
}
.sub:active{
    font-size: 12.75px;
    background-color:#ff0055
}