<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROJECT X</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>
<body>  
   <div class="container">
    <div class="title">LOGIN</div>
  <form action="/login" method="post">
    <div class="row">
        <div class="form-group">
            <input type="text" id="username" name="username" required>
            <div class="underline"></div>
            <label for="userid">
                 USER ID</label>
        </div>
    </div>
     <div class="row">
        <div class="form-group">
            <input type="password" id="password" name="password" required autocomplete="off" >
            <div class="underline"></div>
            <label for="password">PASSWORD</label>
        </div>
     </div>

           
            <input class="sub" type="submit" value="Login">          

  </form>
   </div>
   
   
</body>
</html>